.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px;
}

.grid-header {
  background-color: #11728B;
  color: #fff;
  padding: 10px;
}

.even-row {
  background: #F7F7F7;
  color: #4F4F4F;
}

.grid-item {
  padding: 10px;
}
